/* General Styling */
body {
    font-family: Arial, sans-serif;
    background: #1E243A;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-container { 
    display: flex;
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    background-color: #1E243A;   
    width: 350px;
    padding: 100px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100vh;
    overflow: hidden;
}

.sidebar h2 {
    text-align: left;
    margin-bottom: 50px;
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}

/* Button Styles */
a.btn {
    position: absolute;
    top: 580px;
    margin-left: 70px;
    padding: 12px 80px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 999px;
    text-align: center;
}

a.btn:hover {
    background: #0056b3;
    text-decoration: none;
}

/* Content Styles */
.content {
    flex-grow: 1;
    margin-left: 450px; /* To create space for the sidebar */
    background: #ffffff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: scroll; /* Enable scroll for content */
}

.content ul li{
    background-color: #fbfbfb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

/* Heading and Box Styles */
h1, h2, h3 {
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: left;
}

h2 {
    margin-top: 20px;
    font-size: 1.5rem;
}

.box {
    background: #fdfdfd;
    border-left: 5px solid #1E243A;
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}
